---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('april 28 2024')}
	heroImage="about-me2.png"
>
	<p>
		Soy Alexis Gándara, un estudiante de ingeniería en informática que reside en Argentina. Desde muy temprana edad, he sentido una fascinación por el mundo del desarrollo de software. A los 15 años, tomé un curso de front-end que despertó mi interés y m
		e abrió las puertas a este emocionante campo. Al concluir la escuela secundaria, tomé la decisión de seguir este camino 
		y me embarqué en la carrera de ingeniería.
	</p>
	<p>	Lo que más me motiva en este viaje es mi pasión por lo que hago. Disfruto cada desafío que enfrento y 
		encuentro satisfacción en cada línea de código que escribo. Soy un eterno amante del aprendizaje, siempre buscando nuevas tecnologías 
		y metodologías para mejorar mis habilidades y conocimientos. Para mí, la mejora constante es fundamental, y me esfuerzo día a día por superarme a mí mismo.
	</p>
	<p>	
		Considero que soy una persona amable y accesible, siempre dispuesta a colaborar y compartir conocimientos con los demás. La pasión que siento por mi 
		trabajo se refleja en cada proyecto en el que me involucro. Estoy emocionado por lo que el futuro me depara en este apasionante campo y estoy comprometido a 
		seguir creciendo y evolucionando como profesional."Espero que esta versión sea de tu agrado y refleje adecuadamente quién eres y qué te motiva en el mundo del desarrollo 
		de software. Si necesitas más ajustes o tienes alguna preferencia específica, ¡no dudes en decirlo
	</p>

	<p>
		EXPERIENCIA:
		<li>Mi objetivo es profesionalizarme y adquirir mi primera experiencia en áreas de IT. Busco estabilidad y
			desarrollo profesional dentro de una empresa, que me permita poder seguir dedicándole tiempo a la carrera a la par que
			ir desarrollándome en mi carrera profesional. </li>
		<li>Power BI</li>
		IHospital Materno Infantil de Tigre | febero 2021- Abril 2021
		Desarrollo e implementación de un sistema en Power BI para facilitar la toma de decisiones
		en el ámbito financiero del hospital, así como la presentación de informes de facturación a las entidades superiores.

	</p>
	<p>
		ACADEMICO:
		<li>Secundario -orientación en educación y sociales</li>
		Escuela Normal N 11” DR Ricardo Levene “– Dean Funes 1821, Ciudad Autónoma de Buenos Aires .2016-2020
		<li>Ingenieria en Informática </li>
		Universidad Argentina de la Empresa – Lima 717, Ciudad Autónoma de Buenos Aires .2021-Cursando
	</p>
	<p>
		LENGUAJES:
		<li>Python</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Astro</li>
		<li>MYSQL</li>
		<li>Solidity</li>
		<li>COBOL</li>
	</p>

	<p>
		OTROS CONOCIMIENTOS :
		<li>Power BI</li>
		<li>Autocad</li>
		<li>Paquete Office</li>
	</p>

	<p>
	</p>
</Layout>
