---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I췂m Alexis Gandara 游눹 Software Engineer</h1>
			<p>
				춰Bienvenido a mi sitio oficial (Portafolio)! Aqu칤 podr치s encontrar informaci칩n sobre m칤, mi contacto, 
				mi CV, varios proyectos realizados por m칤, experiencia, entre otras cosas.
			</p>
			<p>
				Este portafolio fue elaborado utilizando:
				<li><a href="https://developer.mozilla.org/es/docs/Web/HTML/">HTML</a></li>
				<li><a href="https://lenguajecss.com/css/introduccion/que-es-css/">CSS</a></li>
				<li><a href="https://astro.build/">Astro</a></li>
			</p>

			<p>
				<p>Te dejo mi curr칤culum para que lo descargues y puedas ver m치s informaci칩n detallada sobre m칤.</p>
				<button><a class="aa" href="Curr칤culum_alexis.pdf" download="Curr칤culum_alexis.pdf">Descargar CV</a></button>
				
			</p>
			<p>Descubre Mis Trabajos y Mi Perfil:</p>
			<ul>
				<li><a href="blog">Proyectos</a></li>
				<li><a href="about">Informaci칩n sobre m칤</a></li>
			</ul>
			<p>
				Datos de contacto:
				<li><a href="mailto:alexis20143@gmail.com">alexis20143@gmail.com</a></li>
				<li>游 +54 1135946948</li>

			</p>
			<p>
				Gracias por leer esta introducci칩n sobre m칤. Espero que recorras la p치gina y disfrutes de ella.
			</p>
		</main>
		<Footer />
	</body>
</html>
